/**
 * Z-MODAL
 * By Benjamin Caradeuc (benjamin@caradeuc.info)
 * benavern.github.io
**/

/*Positioning & overlay*/
.z-modal div{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*modal container*/
.z-modal{
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:9999;
}
/*overlay*/
.z-modal.overlay{
	cursor:pointer;
	background: rgba(0, 0, 0, 0.7);
}

/*the box*/
.z-modal .z-modal-box{
	background: #fff;
	min-width:250px;
	/*min-height:125px;*/
	max-width:100%;
	max-height:100%;

	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);

	box-shadow: 0 0 50px rgba(0,0,0, 0.3);
	overflow:hidden;
	border-radius:4px;
	cursor:auto;
}

/*box header*/
.z-modal .z-modal-box .z-modal-header{
	background: #ddd;
	position:relative;
}
.z-modal .z-modal-box .z-modal-header .z-modal-title{
	padding:16px 64px 16px 32px;
	padding:1rem 4rem 1rem 2rem;
	font-weight:bold;
}
.z-modal .z-modal-box .z-modal-header .z-modal-close{
	padding:16px 24px;
	padding:1rem 1.5rem;
	position:absolute;
	top:0;
	right:0;
}
.z-modal .z-modal-box .z-modal-header .z-modal-close:hover{
	color:white;
	background: #E22;
	cursor: pointer;
}

/*box content*/
.z-modal .z-modal-box .z-modal-content{
	position:relative;
	padding:16px 32px;
	padding:1rem 2rem;
}


/*box footer*/
.z-modal .z-modal-box .z-modal-footer{
	position:relative;
	font-size:0;
}
.z-modal .z-modal-box .z-modal-footer .z-modal-btn{
	width:100%;
	font-size:16px;
	font-size:1rem;
	padding:16px;
	padding:1rem;
	text-align:center;
	cursor:pointer;
	background: #ddd;
}
.z-modal .z-modal-box .z-modal-footer .z-modal-btn:hover{
	background: #aaa;
	color:white;
}

.z-modal .z-modal-box .z-modal-footer .z-modal-btn.z-modal-btn-half{
	width:50%;
	display:inline-block;
}
